@mixin muli-text($size, $weight, $height, $increase: 0.3) {
  font-family: muli, sans-serif;
  font-style: normal;
  font-size: calc(#{$size} + #{$increase}vw);
  font-weight: $weight;
  line-height: $height;
}

@mixin flex($direction, $align: false, $justify: false) {
  display: flex;
  flex-direction: $direction;

  @if $align {
    align-items: $align;
  }

  @if $justify {
    justify-content: $justify;
  }
}
