*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}
.completed {
  text-decoration: line-through;
  color: #bbb;
}
