@use '../utilities' as *;

.content {
  padding: calc(1rem + 0.8vw) calc(1.5rem + 4.5vw);

  h1 {
    margin: calc(1rem + 2vh) 0;

    @include muli-text(24px, 800, 32px, 0.7);

    text-align: center;
    color: $clr-primary-title;
  }

  .container {
    position: relative;
    margin: calc(1rem + 2vh) 0;
    max-width: 500px;
    margin-inline: auto;
    background: $clr-primary-white;
    min-height: 320px;
    border: none;
    box-shadow: 0 5px 8px 0 rgb(190, 186, 190);

    &-title {
      padding: calc(0.5rem + 0.3vw) calc(0.8rem + 0.5vw);
      border-bottom: 1px solid $clr-border;

      @include flex(row,center, space-between);

      h2 {
        @include muli-text(15px, 600, 32px);

        color: $clr-primary-text;
      }

      i {
        font-size: calc(11px + 0.3vw);
        cursor: pointer;
        color: #aaa;
      }
    }

    .input-task {
      width: 100%;
      height: calc(2.5rem + 0.4vw);
      border: none;
      outline: none;

      @include muli-text(15px, 500, 24px);

      color: $clr-primary-text;
      font-style: italic;
      padding: 0 calc(0.8rem + 0.5vw);
      border-bottom: 1px solid $clr-border;
    }

    ul {
      li {
        @include muli-text(15px, 500, 24px);
        @include flex(row, center, space-between);

        color: $clr-primary-text;
        padding: calc(0.5rem + 0.3vw) calc(0.8rem + 0.5vw);
        border-bottom: 1px solid $clr-border;

        input {
          flex-basis: 10%;
        }

        label {
          flex-basis: 87%;
        }

        .icon-item {
          cursor: move;
          flex-basis: 3%;
          color: #aaa;
        }
      }
    }

    .btn-clear {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: calc(0.5rem + 0.3vw) calc(0.8rem + 0.5vw);

      @include muli-text(15px, 500, 24px);

      color: $clr-primary-text;
      background: $clr-background-light;
      cursor: pointer;
    }
  }
}
